<form method='post' action="/user">
	<label for="email">Email</label>
	<input type="text" name="email">
	<label for="password">Password</label>
	<input type="password" name="password">
	<label for="password_confirmation">Password Confirmation</label>
	<input type="password" name="password_confirmation">
	<input type="submit" value="Sign up">
</form>
